<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.atguigu.mp.mapper.EmployeeMapper" >
 	
 	<select id="getEmpByName" parameterType="String" resultType="Employee">
 		select * from `tbl_employee` where `last_name` = #{name};
 	</select>
 	
 	
 	
 	<resultMap type="NameAndEmailVo" id="nameAndEmail">
 		<result column="last_name" property="name"/>
 		<result column="email" property="email"/>
 	</resultMap>
 	
 	<select id="getNameAndEmailVoById" resultMap="nameAndEmail">
 		select `last_name`,`email` from `tbl_employee` where id = #{id};
 	</select>
</mapper>